<footer class="footer">
  <div class="content has-text-centered">
      Created by Noriyuki Ishii with <a href="https://pokeapi.co/">PokeAPI</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.    
  </div>
</footer>