<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      Pokemon Party Maker
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="is-info button" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://noriyuki-ishii-820.github.io/pokemonPartyMaker/" target="_blank" href="https://twitter.com/intent/tweet?text=Pokemon Party Maker: build your Pokemon team online! &amp;hashtags=PPM&amp;url=https://noriyuki-ishii-820.github.io/pokemonPartyMaker/&amp;via=nishiiSydDev">
              <span class="icon">
                <i class="fab fa-twitter"></i>
              </span>
              <span>
                Tweet
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button is-black" href="https://github.com/noriyuki-ishii-820/pokemonPartyMaker/">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span>GitHub</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
